/********************
* QUIZ STYLING
********************/

$red:#ff5e5e;
$green: #009900;
$blue: #2a9ddf;
$dark-blue: #174e98;
$black: #000;
$white: #fff;
$right: #aaffaa;
$wrong: #ffaaaa;
$button: #ddd;
$solution: #eee;
$option: #f1f1f1;
$text: #555;
$tooltip: #808080;
$border: 2px var(--border-decoration-style) $black;
$border-dotted: 2px dotted $black;
$border-radius: 6px;
$box-shadow: 2px 2px 6px 1px #666;

.reveal {
    .qic,
    .qft,
    .qmc,
    .qmi,
    [class*="quiz-"] {
        position: relative;
        .disabled {
            opacity: 0.6;
            pointer-events: none; 
        }
        .display {
            float: left;
            display: block;
        }
        .hidden {
            display: none; 
        }
        .show-right {
            background-color: $right;
            border: $border;
        }
        .show-wrong {
            background-color: $wrong;
            border: $border-dotted;
        }
        .solutionDiv {
            margin: 0.5em 0 var(--margin-bottom-ul) 0;
        }
        button {
            border-radius: $border-radius;
            font-family: inherit;
            outline: none;
            clear: both;
            border: $border;
            font-size: var(--font-size-x-small);
        }
        &.plain {
            button {
                border: none;
                padding: 5px 10px; 
                background-color: $button;
                &:hover {
                    background-color: $tooltip;
                    color: $white; 
                }
            }
            li {
                &.show-right::before,
                &.show-wrong::before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 400;
                    font-size: var(--font-size-medium);
                }
                &.show-right::before {
                    content: "\f058";
                    color: $green;
                }
                &.show-wrong::before {
                    content: "\f057";
                    color: $red;
                }
            }
        }
    }

    .qmc,
    .quiz-mc,
    .quiz-multiple-choice {
        ul {
            display: flex;
            justify-content: flex-start;
            counter-reset: answer;
            flex-wrap: wrap;
        }
        li {
            position: relative;
            flex: 1 1 40%;
            margin: 0.3em;
            padding: 0.3em;
            border: 2px var(--border-decoration-style) $dark-blue;
            border-radius: 20px;
            font-weight: normal;
            color: $black;
            list-style-type: none;
            cursor: pointer;
            &::before {
                content: counter(answer, upper-latin) ": ";
                counter-increment: answer;
                font-weight:  bold;
                margin-right: 0.5em;
            }
        }
        .tooltip  {
            visibility: hidden;
            width: 90%;
            max-width: max-content;
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 5px;
            padding: 0.2em 0.5em;
            background-color: $text;
            color: $white;
            border-radius: $border-radius;
            font-size: var(--font-size-x-small);
            box-shadow: $box-shadow;
        }
        [class*="show-"]:hover .tooltip {
            visibility: visible;
        }
        &.plain {
            ul {
                display: inline-block;
                text-align: center;
            }
            li {
                margin: 0;
                padding: 0.1em 0 0.1em 0.7em;
                border: none;
                text-align: left;
                &::before {
                    content: "\f111";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 400;
                    font-size: var(--font-size-medium);
                }
                &[class*="show-"] {
                    background-color: inherit;
                }
            }
            &.inline {
                ul {
                    display: inline-flex;
                    margin-top: 0.5em;
                }
                li {
                    flex: 0 1 auto;
                    margin: auto;
                }
            }
        }
    }

    .qft,
    [class*="quiz-f"] {
        // Users may have long tooltips with images
        overflow-y: auto;
        max-height: 80vh;
        input {
            margin-right: 0.5em;
            padding-left: 0.2em;
            clear: both;
            border: $border;
            border-radius: $border-radius;
            outline: none;
            font-size: inherit;
            font-family: inherit;
            &:placeholder-shown {
                text-overflow: ellipsis; 
            }
        }
        .solutionDiv {
            display: block;
            visibility: hidden;
            width: 91%; 
            padding: 0.5em;
            background-color: $solution;
            color: $text;
            border-radius: $border-radius;
            font-size: var(--font-size-small);
            list-style-type: none;
            max-height: 4.4em;
            overflow-y: scroll;
            cursor: default;
            &.solved {
                visibility: visible;
            }
            .correct::before {
                content: "✓ ";
                font-weight: bold;
            }
        }
        .solutionList {
            visibility: hidden;
            position: fixed;
            max-height: 10em;
            max-width: 90%;
            z-index: 99;
            margin-bottom: var(--margin-bottom-ul);
            padding: 5px;
            border: none;
            border-radius: $border-radius;
            list-style-type: none;
            font-size: var(--font-size-x-small);
            color: $white;
            li {
                display: none;
                list-style-type: none;
                margin: 0 1em;
                padding: 0.5em;
                border-radius: $border-radius;
                &.solved {
                    display: block;
                    background-color: $text;
                    box-shadow: $box-shadow;
                }
            }
            &.solved {
                visibility: visible;
            }
            .correct::before {
                content: "✓ ";
                font-weight: bold;
            }
            .wrong::before {
                content: "✗ ";
                font-weight: bold;
            }
        }
        &.plain {
            input {
                display: block;
                width: 90%;
                margin: 0 0.375em 0.375em 0;
                padding: 5px 10px; 
                border: none;
                background-color: $solution;
                font-family: "Source Code Pro", monospace;
                &.show-right {
                    background-color: $right;
                }
                &.show-wrong {
                    background-color: $wrong; 
                }
            }
            .solutionButton {
                margin-right: 0.5em;
            }
        }
    }

    .qic,
    [class*="quiz-i"] {
        // Users may have long tooltips with images
        overflow-y: auto;
        max-height: 80vh;
        .solutionList {
            display: none;
        }
        .tooltip-div {
            margin-top: 0.5em;
            padding: 0.5em;
            font-size: var(--font-size-small);
            border-radius: 6px;
            visibility: hidden;
            display: block;
            width: 90%;
            min-height: 1.3em;
            &.solved {
                visibility: visible;
            }
        }
        .tooltip {
            background-color: $solution;
            border-radius: $border-radius;
        }
        select {
            border: $border;
            font-size: inherit;
            margin-bottom: 0.3em;
            outline: none;
            :disabled {
                color: $black;
            }
        }
        &.plain {
            // .tooltip-div {
            //     &.solved {
            //         width: 91%; 
            //     }
            // }
            // select {
            //     outline: none;
            // }
        }
    }

    .qmi,
    .quiz-mi,
    .quiz-match-items {
        display: flex;
        flex-direction: column;
        .matchQuestion {
            display: flex;
        }
        .matchDiv {
            padding: 0.5em 0.5em 0 0.5em;
            margin-top: 0.5em;
            border-radius: $border-radius;
            border: 1px solid $solution;
        }
        .matchItems,
        .buckets {
            display: flex;
            position: relative;
            padding: 0.3em;
            border: 2px var(--border-decoration-style) $button;
            border-radius: $border-radius;
            &::before {
                position: absolute;
                top: -1em;
                left: 1em;
                font-size: 15px;
                background: $white;
                color: $tooltip;
                // Get drag/drop hint in correct language from yaml header
                content: attr(data-hint);
            }
        }
        .matchItems {
            justify-content: flex-start;
            flex-wrap: wrap;
            min-height: 1em;
            margin-bottom: 1.5em;
            font-size: var(--font-size-small);
            &::after {
                position: absolute;
                content: " ";
                bottom: -0.78em;
                border-left: 0.7em solid transparent;
                border-right: 0.7em solid transparent;
                border-top: 0.7em solid $solution;
                left: 50%;
            }
            // Scale down image to prevent quiz from overflowing
            .matchItem img {
                max-width: 50%;
            }
        }
        .matchItem {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            overflow: hidden;
            justify-content: flex-start;
            margin: 0 2px 6px 2px;
            padding: 0.2em;
            border: $border-dotted;
            border-radius: 10px;
            text-align: center;
            cursor: grab;
            object-fit: contain;
            max-width: 100%;
            &.show-right {
                background-color: $right;
                border: $border;
            }
            &.show-wrong {
                background-color: $wrong;
            }
        }
        .buckets {
            flex: 1;
            font-size: var(--font-size-small);
        }
        .bucket-container {
            display: flex;
            flex-direction: column;
            flex: 1 1 0;
            margin: 0.2em;
            border: 2px solid #000;
            text-align: center;
        }
        .bucket {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            max-height: 40vh;
            overflow: hidden;
            cursor: default;
            min-width: 3em;
            p {
                padding: 0.2em;
                margin-bottom: 0;
            }
            .matchItem {
                font-size: 70%;
                flex: 0 1 auto;
                padding: 0;
            }
        }
        .draggableChild:not(a) {
            pointer-events: none;
        } 
        mjx-container > svg {
            object-fit: contain;
            max-width: 100%;
        }
        button {
            margin: 0.5em auto;
            min-height: max-content;
        }
        &.plain {
            max-height: unset;
            .matchDiv {
                display: flex;
                -webkit-font-smoothing: antialiased;
            }
            .matchItems {
                flex-flow: column nowrap;
                flex: 1 0 auto;
                margin: 0;
                justify-content: start;
                counter-reset: item;
                max-width: max-content;
            }
            .matchQuestion {
                margin-bottom: 1em;
                min-width: max-content;
                justify-content: flex-end;
                font-size: var(--font-size-small) !important;
            }
            .optList, 
            .options {
                width: 3em;
                border: $border;
                padding: 0 0.1em;
                background-color: $option;
                text-align: center;
                cursor: pointer;
                -webkit-font-smoothing: antialiased;
                p {
                    &::before,
                    &::after {
                        content: "✓ ";
                        font-weight: bolder;
                    }
                    &::after {
                        color: $option;
                    }
                }
            }
            .optList {
                margin-left: 1em;
                &.correct {
                    background-color: $right;
                    p {
                        &.selected::before {
                            color: initial;
                        }
                        &::after {
                            color: $right;
                        }
                    }
                }
                &.incorrect {
                    background-color: $wrong;
                    p {
                        &.selected::before {
                            content: "✗ ";
                            color: initial;
                        }
                        &::after {
                            color: $wrong;
                        }
                    }
                }
                p {
                    display: none;
                    margin: 0;
                    &:first-child::before {
                        color: $option;
                    }
                    &:last-child {
                        display: block;
                    }
                }
            }
            .options {
                visibility: hidden;
                position: absolute;
                max-height: 6.4em;
                overflow-y: scroll;
                &.shown {
                    visibility: visible;
                }
                p {
                    &::before {
                        color: $option;
                    }
                    &.selected::before,
                    &.selected.correct::before {
                        color: inherit;
                    }
                    &.selected.incorrect::before {
                        content: "✗ ";
                    }
                    &.correct-notSelected::before {
                        color: $right;
                    }
                    &.correct,
                    &.correct-notSelected {
                        background-color: $right;
                        border: $border-dotted;
                        &::after {
                            color: $right;
                        }
                    }
                    &.incorrect {
                        border: none;
                        background-color: $wrong;
                        &::after {
                            color: $wrong;
                        }
                    }
                }
            }
            .buckets {
                display: block;
                margin: 0 2em;
            }
            .buckets, 
            .matchItems {
                border: none;
                padding: 0;
                &::before,
                &::after {
                    content: unset;
                    border: none;
                }
            }
            .matchItem {
                border: none;
                padding: 0 0 0.3em 0;
                text-align: left;
                display: block;
                &::before {
                    content: counter(item, upper-latin) ": ";
                    counter-increment: item;
                    margin-right: 0.5em;
                    font-weight:  bold;
                }
                &:last-of-type {
                    padding-bottom: 0;
                }
            }
            button {
                width: max-content;
            }
        }
    }
}

/* Microsoft Edge Browser 12-18 (All versions before Chromium) */
_:-ms-lang(x), 
.qmi,
.quiz-mi,
.quiz-match-items {
    &.plain .options {
        right: 0.5vw;
    }
}
// Adjust for printed quizzes
@media print {
    .reveal .slides {
        transform: none !important;
        section {
            .qic,
            .qft,
            .qmc,
            .qmi,
            [class*="quiz-"] {
                button, 
                .solutionDiv {
                    display: none;
                }
                &.plain {
                    input, 
                    select {
                        color: $white;
                        background-color: $white;
                        border: none;
                        border-bottom: 1px solid $black;
                        border-radius: unset;
                    }
                    input {
                        margin-bottom: 0.5em;
                        min-width: 35%;
                        &::placeholder {
                            color: $white;
                        }
                    }
                    .tooltip-div {
                        display: none !important;
                    }
                }
                button,
                .solutionDiv {
                    display: none;
                }
            }
            .qft input,
            [class*="quiz-f"] input,
            .qic select,
            [class*="quiz-i"] select {
                // Hide placeholder for unanswered questions
                background-color: $white;
                color: $white;
                min-width: 35%;
                &.show-right {
                    background-color: $right;
                    color: initial;
                }
                &.show-wrong {
                    background-color: $wrong;
                    color: initial;
                }
            }

            .qmi,
            [class*="quiz-"] {
                max-height: unset;
                &.plain {
                    width: 100%;
                    .matchItems {
                        align-items: stretch !important;
                    }
                    .matchQuestion {
                        .optList {
                            color: $white !important;
                            background-color: $white; 
                            max-height: 1em;
                            p,
                            p::before,
                            p::after {
                                color: $white !important; 
                            }
                        }
                    }
                    .matchItems {
                        margin-bottom: 0;
                    }
                    .options {
                        display: none;
                    }
                    .option {
                        text-align: center !important;
                    }
                    p {
                        font-size: var(--font-size-small) !important;
                    }
                    .matchQuestion,
                    .optList p,
                    .buckets .matchItem {
                        font-size: var(--font-size-x-small) !important;
                    }
                }
            }
        }
    }
}